body {
  margin: 0;
  font-family: 'Arima Madurai', cursive;
  background: linear-gradient(90deg,#6d65ec 0%, #e860e9 50%,#00ffd9 100%);

  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button{
  cursor: pointer;
}